html {
	scroll-behavior: smooth;
}

body{
	margin: 0;
	min-width: 375px;
	
	box-sizing: border-box;
	background: black;

}

.show_mobile_menu{
	position: fixed;
	overflow: hidden;
}

.show_mobile_menu > .mobile_nav_container{
	display: block;
}



/*___________________________  BTN  ______________________*/

.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.btn_container>a {
	color: #D9D9D9;
	background-color: inherit;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	cursor: pointer;
}

.btn {
	display: flex;
	align-items: center;
    justify-content: center;
	min-width: 177px;
	height: 71px;
	box-sizing: border-box;
	border: 2px solid #FFC700;
	border-radius: 6px;
	position: relative;
	overflow: hidden;
	text-decoration: none;
}

.btn:hover {
  box-shadow: 1px 1px 25px 10px rgba(255, 199, 0, 0.4);
}

.btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 199, 0, 0.4),
    transparent
  );
  transition: all 650ms;
}

.btn:hover:before {
  left: 100%;
}

.btm_black{

	color: #D9D9D9;
	background-color: inherit;
	border: 1px solid #FFC700;
	border-radius: 6px;
	border: 1px solid #FFC700;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	cursor: pointer;
	
}

.btm_black:hover {
	background: red, 1.5%;
	border: 1px solid rgba(#000, .05);
	box-shadow: 1px 1px 2px rgba(#fff, .2);
	color: lighten(red, 18%); 
	text-decoration: none;
	text-shadow: -1px -1px 0 darken(red, 9.5%);
	transition: all 250ms linear;
  }

  /* .buy_token{
	width: 177px;
	height: 71px;
	background: #FFC700;
  } */




/*___________________________  TEXT  ______________________*/
p{
	margin:0;
	color: rgba(255, 255, 255, 0.80);
	font-family: Roboto;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px;
	cursor: default;

}

.name_section{
	display: flex;
	justify-content: center;
	min-width: 260px;
	min-height: 100px;
	margin-bottom: 28px;
	box-sizing: border-box;
}

.name_first_screen{
	position: relative;
}

.name_section>p{
	color: rgba(255, 255, 255, 0.90);
	font-family: Vujahday Script;
	font-size: 48px;
}

.name_first_screen>p:first-child{
	position: absolute;
	top:0;
	left: 0;
	z-index: 103;
}

.name_first_screen>p:nth-child(2n){

	position: absolute;
	top:22%;
	left: 12%;
	z-index: 102;
}

.name_first_screen>p:last-child{
	position: absolute;
	bottom: 0;
	left: 29%;
	z-index: 101;
}

.text_gold{
	color: #FFC700BA !important;

}

.text_main{
	font-family: Roboto;
	font-size: 24px;
}

.text_table{
	margin: 20px auto;
	padding: 20px 0;
	width: 256px;
	border-radius: 6px;
	border-top: 1px solid #FFC700;
	background: #121212;
}

.text_table>p{
	text-align: center;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	line-height: 25px;
}


/*___________________________  text_more  ______________________*/
.text_more_container{
	position: relative;
	width: 100%;
	padding: 5px;
	background: rgba(0, 0, 0, 0.767);
}

.btn_more{
	position: absolute;
	bottom: 5px;
	right:  10px;
	padding: 0 15px 0 40px;
	color: rgba(255, 255, 255, 0.288);
	background: rgb(0, 0, 0);
	font-family: Roboto;
	font-size: 24px;
	font-style: normal;
	font-weight: 300;
	line-height: 50px; /* 208.333% */
	text-decoration-line: underline;
	cursor: pointer;
}

.btn_more:hover{
	color: #FFC700;
}

.text_main_modified , .btn_more_modified{
	display: none;
}

.show_more > .text_main_standard{
	display: none;
}

.show_more > .text_main_modified{
	display: none;
}

.show_more > .text_main_modified{
	display: block;
}

.show_more > .btn_more_modified{
	display: block;
}








/*___________________________  HEADER  ______________________*/

.header_container{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	width: 100vw;
	height: 80px;
	background-color: black;
	border-bottom: 3px solid #c0c0c0a2 ;
}



.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1336px;
	height: 114px;
	margin: 0 auto;
	background-color: black;

}

.header_logo{
	background: url(./assets//img/Group\ 24.png)  no-repeat;
	background-size: cover;
	margin-left: 30px;
	width: 65px;
	height: 65px;	
	
}

.header_burger{
	display: flex;
	align-items: center;
	position: fixed;
	top: 30px;
	right: 30px;
	width: 50px;
	height: 50px;
	cursor: pointer;
}

.header_burger > span,
.header_burger > span::before,
.header_burger > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #fff;
}
.header_burger > span::before {
  content: '';
  top: -15px;
}
.header_burger > span::after {
  content: '';
  top: 15px;
}

@media (min-width: 720px) {
	.header_burger{
		display: none;
	}

}

/*___________________________  header_nav  ______________________*/
.header_nav{
	display: none;
	align-items: center;
	margin: 0 ;	
	height: 80px;
	justify-content: flex-end;
	list-style-type: none;
}

@media (min-width: 720px) {
	.header_nav{
		display: flex;
	}

}

.header_nav_item{
	display: flex;
	align-items: center;
}

.header_nav_link{
	margin: 0 5px;
	padding: 5px 10px;
	border-radius: 10px;
	color: rgba(255, 255, 255, 0.80);
	font-family: Roboto;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-decoration: none;
	transition: all 650ms;
}

.header_nav_link:hover{
	background-color:rgba(61, 50, 8, 0.73);
	box-shadow: 1px 1px 25px 10px rgba(255, 199, 0, 0.73);
	transition: all 650ms;
}


/*___________________________  mobile_nav  ______________________*/
.mobile_nav_container{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1200;
	width: 100vw;
	height: 100vh;
	background: rgba(109, 109, 109, 0.5);
}

.mobile_nav{
	overflow: scroll;
	z-index: 1201;
	width: 100vw;
	max-height: 100vh;
	box-sizing: border-box;
	margin: 0;
	padding: 30px 0 0;
	background: rgb(109, 109, 109);
	box-shadow: 0px 4px 14px 0px rgba(0, 0, 0, 0.25);
	border-bottom: 2px white solid;
	list-style-type: none;
}

.mobile_nav_link{
	display: block;
	padding: 0 30px 5px;
	border: 1px white solid;
	box-sizing: border-box;
	color: rgba(255, 255, 255, 0.80);
	font-family: Roboto;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: 50px;
	text-decoration: none;
}


/*___________________________  section  ______________________*/
.section_container{

	/* padding-top: 90px;
	margin-top: -90px; */
}

.section{
	display: flex;
	flex-direction: column;
    justify-content: space-around;
	max-width: 1336px;
	min-height: calc(100vh - 80px);
	margin: 0 auto;

	padding: 30px;
	padding-top: 120px;
}

/*___________________________  agency  ______________________*/



.agency{

}

/*___________________________  offer  ______________________*/

.social_pointer{
	position: relative;
	height: 55px;
}

.social_pointer>div{
	position: absolute;
	left: 55%;
	width: 55px;
	height: 55px;
	background: url(./assets/img/social_pointer.png)no-repeat  95%;
}

.offer_list>li{

		color: white; /* Цвет маркеров */
}


.social_links{
	display: flex;
	justify-content: center;
	list-style-type: none;
}

.social_links_item>a{
	display: block;
	width: 55px;
	height: 55px;
	margin: 0 12px;
	border-radius: 5px;
}

.instagram{
	background: url(./assets/img/logo_instagram.png)no-repeat  95%;
}
.telegram{
	background: url(./assets/img/logo_telegram.png)no-repeat  95%;
}
.facebook {
	background: url(./assets/img/logo_facebook.png)no-repeat  95%;
}	


/*___________________________  token  ______________________*/

.arr_next_conteiner{
	width: 96px;
	height: 48px;
	margin: 20px 0;
	position: relative;
	display: flex;
}

.arr_next_conteiner>div{
	width: 48px;
	height: 48px;
	background: url(./assets/img/arr_next.png)no-repeat ;
	background-size: cover;
}

.arr_next_conteiner>div:first-child{
	position: absolute;
	left: -11%;
}

.arr_next_conteiner>div:last-child{
	position: absolute;
	left: 17%;
}

.token_ul{
	padding: 0;
}

.token_ul_item{
	margin: 30px 0;	
}

.token_ul_item>div{
	display: flex;
	justify-content: space-between;

}

.token_ul_item>div:first-child{
	border-bottom: 4px solid #FFC700;
}

.token_ul_item>div:first-child>p{
	color: #FFC700;
	font-size: 16px;
	line-height: 20px;
}

.token_ul_item>div:last-child>p{
	font-size: 16px;
	line-height: 20px;
}






/*___________________________  slider  ______________________*/


.slider_item{

}

.slider_item_photo:nth-child(1n){
	width: inherit;
	height: 215px;
	/* background: url(./assets/img/photo_1.png)no-repeat ; */
	background-size: contain;
}



*,
    *::before,
    *::after {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    body {
      margin: 0;
      font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
      'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
      'Segoe UI Symbol';
    }

    .container {
      max-width: 700px;
      margin: 0 auto;
    }

    .itc-slider__items {
      counter-reset: slide;
	  
    }

    .itc-slider__item {
      flex: 0 0 100%;
      max-width: 100%;
	  height: 100%;
      counter-increment: slide;

      position: relative;
    }

    .itc-slider__item::before {
      content: counter(slide) "/5";
      position: absolute;
	  height: 100%;
      top: 10px;
      right: 20px;
      color: #fff;
      font-style: italic;
      font-size: 32px;
      font-weight: bold;
      display: block;
    }

    .itc-slider__item:nth-child(1) {
      background-color: #f44336;
    }

    .itc-slider_item_photo:nth-child(2) {
      background-color: #9c27b0;
    }

    .itc-slider_item_photo:nth-child(3) {
      background-color: #3f51b5;
    }

    .itc-slider_item_photo:nth-child(4) {
      background-color: #03a9f4;
    }

    .itc-slider_item_photo:nth-child(5) {
      background-color: #4caf50;
    }


/*___________________________  footer  ______________________*/

.job_smile{
	position: relative;
}

.job_smile>div{
	position: absolute;
	top: -22%;
	right: 12%;
	transform: rotate(5deg);
	width: 80px;
	height: 60px;
	background: url(./assets/img/smile.png)no-repeat ;
	background-size: contain;
}

/*___________________________  footer  ______________________*/

.footer_container{

	background-color: rgba(255, 255, 0, 0.5);
}

.footer{

	max-width: 1336px;
	margin: 0 auto;

	background-color: rgb(255, 255, 0);
}

